{% extends 'base.html' %}

{% block title %}
    Signin - Bharath Store
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white p-4">
                <h3 class="text-center">Change Password</h3>
                <form method="POST" action="#" enctype="multipart/form-data">

                    {% csrf_token %}
                    {% if error_message %}
                        <h3 style="color:orangered;">{{error_message}}</h3>
                    {%  endif %}
                                  
                    <div class="mb-3">
                        <label class="form-label">Old Password*</label>
                        <!-- <input type="email" class="form-control" id="login_user_id" name="login_user_id" placeholder="Enter your registered login ID" required> -->
                        <input type="text" class="form-control" id="login_user_id" name="login_user_id" placeholder="Enter your registered login ID" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">New Password*</label>
                        <input type="password" class="form-control" placeholder="Enter password" id="password" name="password" required>
                    </div>
                             
                    <button type="button" class="btn btn-primary w-100">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
