
<h6>www.xxxxcom (the "Site") is owned and operated by Vadiraja. ("we" or "us" or Vadiraja),

Please note that this is a business/commercial site and can be accessed only by a valid account holder. Your access and use of the Site is subject to the following terms and conditions ("Website Terms and Conditions") and all applicable laws. By accessing and browsing this Site, you accept, without limitation or qualification, the Website Terms and Conditions. If you do not agree with any of the below Terms and Conditions, do not use this Site.

We reserve the right, in our sole discretion, to modify, alter or otherwise update these Website Terms and Conditions at any time and you agree to be bound by such modifications, alterations or updates.
</h6>