{% extends 'base.html' %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block title %} Sign in/Login {% endblock %}
{% block style %}
<style>
  .txt {
    font-family: sans-serif; 
    color: white;
    text-align: center;
    font-size: 20px;
    max-width: 500px;
    position: relative;
  }
  .txt:before {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background: white;
    left: 0;
    top: 50%;
    position: absolute;
  }
  .txt:after {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background:white;
    right: 0;
    top: 50%;
    position: absolute;
  }


</style>
{% endblock style %}

{% block content %}
<div class="form-container bg-dark" id="login-page">    
<div class="content row justify-content-center m-3">
    <h3>Enter Login User Name</h3>
<form action="{% url 'forgot_password' %}" method="post" >
    
     {% csrf_token %}
<div class="user-details">          
<span class="details">User Name</span>
{% render_field user_form.username class="form-control" id="id_username" placeholder="User Name" type="text" %}
<br>
</div>
    
     <p style="font-size:larger;font-weight:bold;color:red;">{{password_msg}}</p>
     <div class="modal-footer">          
        <input class = "btn btn-success btn-lg" type="submit" value="Recover Password">
          
          <a href="{% url 'login' %}" class = "btn btn-success btn-lg" type="Button">Try to Login</a>
          <input type="reset" value="Reset" class="btn btn-secondary btn-lg">
      </div>

    <sub>
      <h5>If you don't have an account? then,<a href="{% url 'register' %}" style="text-decoration: none; color:green;  cursor:pointer;">Click here to Register</a>
      </h5>
    </sub>     
</form>

</div>
</form>


</div>
</div>


{% endblock content%}