{% load static %}  <!-- Load the static template tag -->
<h2>Recent Orders</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Buyer</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Order Date</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td><a href="#" class="btn btn-sm btn-success">Details</td>
                        <td>{{order.user}}</td>
                        <td>{{ order.product.product_name }}</td>                 
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>
                            {% if order.product.product_image %}
                                <img src="{{ order.product.product_image.url }}" alt="{{ order.product.product_name }}" class="product-image">
                            {% else %}
                                <img src="{% static 'images/default-product.jpg' %}" alt="No image" class="product-image">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>