{% load static %}
<!-- Product Content -->
   
    <!-- <h2 class="text-center mb-4"><h2>Explore {{selected_category}} !</h2></h2> -->
    <!-- 
    row

This sets up a Bootstrap flexbox row container. Inside it, you’ll usually place columns (<div class="col">).

Used to organize content into a grid layout.

row-cols-2
By default (on extra small devices),
     display 2 columns per row.
row-cols-md-3
On medium screens (≥768px), 
    display 3 columns per row.

row-cols-lg-4
On large screens (≥992px), 
    display 4 columns per row.

g-4
Applies gap of 4 units 
(1.5rem or 24px by default)
between rows and columns. 
(g stands for gutter spacing)
    -->
    <div class="container" id="itemsDisplay">
        <!-- {% include 'products/tenants.html' %} -->
        {% include 'products/products.html' %}
    </div>


        
